@use './variables' as *;

.single_transaction {
  background: rgba(172, 115, 73, 0.23);
  margin: 10px 0;
  padding: 9px 12px;
  border-radius: 4px;
  max-height: 200px;
  transition: all 0.5s ease-out;

  display: flex;
  flex-direction: column;
  .accordion_header {
    display: flex;
    // justify-content: space-around;
    gap: 20px;
    h2 {
      display: inline-block;
      font-size: 20px;
    }
  }
  &.open_qr {
    max-height: 2000px;
    figure.qrcode {
      text-align: center;
      margin: 20px auto;
      max-width: 60vw;
      canvas {
        width: 52vw !important;
        height: 100% !important;
      }
      @media (min-width: $lg_breakpoint){
        max-width: 30vw;
        canvas {
          width: 22vw !important;
          height: 100% !important;
        }
      }
    }
    p {
      display: none;
    }
  }
}
