@use './variables' as *;

.wrapper.transactions {
  display: grid;
  grid-template-columns: 1fr;
  h1 {
    grid-column: span 1;
    font-family: 'text--bold', sans-serif;
  }

  @media (min-width: $md_breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
    h1 {
      grid-column: span 3;
    }
  }
 
}
.single_transaction {
  background: $details_color;
  margin: 10px 0;
  padding: 9px 12px;
  border-radius: 4px;
  max-height: 40px;
  transition: all 0.5s ease-out;

  display: flex;
  flex-direction: column;
  .accordion_header {
    display: flex;
    gap: 20px;
    h2 {
      display: inline-block;
      font-size: 20px;
      text-align: center;
      width: 100%;
    }
  }
  &.open_qr {
    max-height: 2000px;
    figure.qrcode {
      text-align: center;
      margin: 20px auto;
      max-width: 60vw;
      canvas {
        width: 52vw !important;
        height: 100% !important;
      }
      @media (min-width: $lg_breakpoint){
        max-width: 30vw;
        canvas {
          width: 22vw !important;
          height: 100% !important;
        }
      }
    }
    p {
      display: none;
    }
  }
}
