@use "../partials/variables" as v;
@import "../partials/variables";

html {
  background-color: v.$header_color;
}
#app,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: v.$bg_color;
  font-family: "text", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: v.$font-size;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  min-height: calc(100vh - (v.$header_height + v.$footer_height));
  @media(min-width: $md_breakpoint){
    min-height: calc(100vh - (v.$header_height));
  }
}

section {
  padding: 20px 28px;
}

.product_page .action {
  display: none;
}
section.empty {
  height: calc(100vh - (v.$header_height + v.$footer_height));
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back {
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid v.$text_color;
  padding: 10px 20px;
  font-size: 14px;
  max-height: 30px;
  height: 100%;
  line-height: 14px;
  font-family: 'text', sans-serif;
}

a {
  text-decoration: none;
  color: v.$text_color;
}

.single_order {
  .details {
    display: none;
  }
}

p,
span,
div {
  font-family: "text", sans-serif;
  font-weight: normal;
  color: v.$text_color;
}

h1 {
  font-family: "header";
  font-weight: normal;
  color: v.$text_color;
}
