@use "./variables" as *;
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  // height: $footer_height;
  background-color: $header_color;
  @include shadow;
  nav {
    height: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      padding: 0 $header_padding;
      display: flex;
      // @include f_center;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      li {
        flex: 1 1 25%;
        // height: 40px;
        // width: 35px;
        position: relative;
        // padding: 3px;
        label {
          font-size: 12px;
          line-height: 13px;
          text-align: center;
        }
      }
      a {
        height: 40px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        padding: 6px 4px 4px;
        &.router-link-active {
          border-top: 2px solid #965858;
        }
      }
    }
  }
}

@media (min-width: $xl_breakpoint) {
  footer {
    bottom: auto;
    height: $header_height;
    top: 0;
    box-shadow: none;
    width: 600px;
    left: unset;
    transition: width .1s ease-in-out;
    &.scroll {
      width: 100%;
      nav {
        max-width: 600px;
      }
    }
    
    nav {
      // max-width: 500px;
      margin: auto;
      ul {
        li {
          .fa-lg {
            display: none;
          }
          label {
            font-size: 16px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        a.router-link-active {
          border-bottom: 2px solid #965858;
          border-top: 0;
        }
        
      }
    }
  }
}
