@use './variables' as *;
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  // height: $footer_height;
  background-color: $header_color;
  @include shadow;
  nav {
    height: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      padding: 0 $header_padding;
      display: flex;
      // @include f_center;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      li {
        flex: 1 1 25%;
        // height: 40px;
        // width: 35px;
        position: relative;
        // padding: 3px;
        label {
          font-size: 10px;
          line-height: 13px;
          text-align: center;
        }
      }
      a {
        height: 40px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        padding: 6px 4px 4px;
        &.router-link-active {
          border-top: 2px solid #965858;
        }
      }
    }
  }
}
