@use 'variables' as *;

.header {
  height: $header_height;
  @include f_center;
  justify-content: flex-start;
  padding: 0 $header_padding;
  background-color: $header_color;
  gap: 10px;
  .cup img {
    vertical-align: bottom;
  }
  h1 {
    font-size: clamp(18px, 20px, 24px);
    font-weight: 800;
    &:hover {
      cursor: pointer;
    }
  }
}
