@use 'variables' as *;

.product_tile {
  background-color: $header_color;
  height: 100%;
  border-radius: 4px;
  width: 100%;
  .tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    .action {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px 0 10px;
    }
    .image {
      margin: 0 auto;
      max-height: 150px;
      img {
        height: 100%;
      }
    }
    .description {
      padding: 19px 10px 15px;
      background-color: $details_color;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .title {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        @media(min-width: $xl_breakpoint) {
          font-size: 16px;
        }
      }
      .price_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        h4.new_price, h5.old_price {
          font-size: 16px;
        }
        .new_price {
          color: $promo_color;
          text-align: center;
          font-family: 'text--bold', sans-serif;
          
          & ~ .old_price {
            text-decoration: line-through;
          }
        }
        .old_price {
          text-align: center;
          font-size: 16px;
          font-style: normal;
        }
      }
    }
  }
  
  @media (min-width: $lg_breakpoint) {
    &:hover {
      @include shadow;
      cursor: pointer;
    }
    .tile {
      .image {
        max-height: none;
      }
      .description {
        justify-content: flex-start;
      }
    }
  }
}

