@use 'sass:math';
@function vw($w, $h) {
  $vw: math.div($h, math.div($w, 100vw));
  @return $vw;
}

$lg_breakpoint: 800px;
$md_breakpoint: 600px;
$xs_breakpoint: 350px;

$bg_color: #f0c9ba;
$header_color: #fff;
$details_color: #ca8f7a;
$promo_color: #000;
$cta_color: #965858;
$text_color: #000;

$font-size: clamp(14px, 18px, 20px);

$header_height: 52px;

$footer_height: 134px;
$d_footer_height: 50px;

$menu_color: #e8e4e6;

$header_padding: 32px;

$open_menu_width: 293px;

@mixin f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow {
  -webkit-box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
  box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
}

@mixin btn {
  appearance: none;
  border: none;
  background-color: $cta_color;
  padding: 5px vw(408, 50);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  height: 34px;
}

@font-face {
  font-family: 'mainFont';
  src: url('https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Regular.otf');
}
