@use "sass:math";
@function vw($w, $h) {
  $vw: math.div($h, math.div($w, 100vw));
  @return $vw;
}

$lg_breakpoint: 800px;
$md_breakpoint: 600px;
$xs_breakpoint: 350px;

$bg_color: #f0c9ba8c;
$header_color: #ffff;
$details_color: #ca8f7ac9;
$promo_color: #333333;
$cta_color: #965858;
$text_color: #333333;

$font_size: clamp(14px, 18px, 20px);

$header_height: 42px;
$footer_height: 40px;

$header_padding: 28px;

@mixin f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow {
  -webkit-box-shadow: 0px 4px 35px -8px #964b00;
  -moz-box-shadow: 0px 4px 35px -8px #964b00;
  box-shadow: 0px 4px 35px -8px #964b00;
}

@mixin btn {
  appearance: none;
  border: none;
  background-color: $cta_color;
  padding: 5px vw(408, 50);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  height: 34px;
}

@font-face {
  font-family: "header";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/Montserrat/static/Montserrat-Medium.ttf")
    format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "body_font";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/Open_Sans/static/OpenSans-Regular.ttf")
    format("TrueType");
  font-display: swap;
}
