@use 'sass:math';
@function vw($w, $h) {
  $vw: math.div($h, math.div($w, 100vw));
  @return $vw;
}

$desktop_breakpoint: 800px;

$bg_color: #f0c9ba;
$header_color: #fff;
$details_color: #ca8f7a;
$promo_color: #9e3737;
$text_color: #000;

$font-size: clamp(14px, 18px, 20px);

$header_height: 90px;

$footer_height: 134px;
$d_footer_height: 50px;
$footer_color: #f9bc60;

$menu_color: #e8e4e6;

$header_padding: 30px;

$open_menu_width: 293px;

@mixin f_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin shadow {
    -webkit-box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 35px -8px rgba(66, 68, 90, 1);
}

@mixin btn {
  .buy {
    appearance: none;
    border: none;
    background-color: $promo_color;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
}
}

@font-face {
  font-family: 'mainFont';
  src: url('https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Regular.otf');
}
