@use '../partials/variables' as *;

.listing {
//   padding: 20px 20px 70px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (max-width: $xs_breakpoint) {
      grid-template-columns: 1fr;
  }
  @media (min-width: $md_breakpoint) {
      grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $lg_breakpoint) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
