@use '../partials/variables' as *;

.listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  // gap: vw(409, 28);
  gap: 28px;
  justify-items: stretch;
  align-content: space-around;
  align-items: stretch;
  & > h1 {
    grid-column: span 2;
    font-weight: 600;
  }
  @media (max-width: $xs_breakpoint) {
    grid-template-columns: 1fr;
    h1 {
      grid-column: span 1;
    }
  }
  @media (min-width: $md_breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
    h1 {
      grid-column: span 3;
    }
  }
  @media (min-width: $lg_breakpoint) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    h1 {
      grid-column: span 4;
    }
  }
  @media (min-width: $xl_breakpoint) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    h1 {
      grid-column: span 6;
    }
  }
}
