@use '../partials/variables' as *;

.product_page {
  // height: 100%;
  height: calc(100vh - 92px);
  padding: 0;
  .product_tile {
    height: 100%;
    &:hover {
      box-shadow: none;
    }
  }
  .tile {
    height: 100%;
    background-color: $bg_color;

    .action {
      display: none;
    }
    .image {
      margin: 0 auto;
      flex: 1 1 40%;
      min-height: 100px;
      min-width: 200px;
      img {
        height: 100%;
        align-self: center;
      }
    }
    .description {
      flex: 1 1 60%;
      background-color: $header_color;
      height: 100%;
      padding: 0 15px 34vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;

      .title {
        margin: 15px 0 0 0;
        font-size: 24px;
      }
      .details {
        text-align: justify;
        order: 1;
        color: #000;
        font-size: 14px;
        font-style: normal;
        // font-weight: 400;
        line-height: 18px;
        max-height: 85px;
        overflow-y: scroll;
      }
      .price_container {
        order: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .new_price {
          color: #db1313;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          // line-height: 150%; /* 51px */
          & ~ .old_price {
            text-decoration: line-through;
            font-size: 20px;
          }
        }
        .old_price {
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    @media (min-width: $lg_breakpoint) {
      flex-direction: row;
      .image {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        img {
          height: auto;
          width: 80%;
          max-width: 400px;
        }
      }
      .description {
        flex: 1 1 50%;
        justify-content: space-evenly;
        padding-bottom: $header_height;
        .price_container {
          justify-content: space-between;
        }
      }
    }
  }
}
.add_to_cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $footer_height;
  //   width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  background-color: $header_color;
  min-height: 65px;
  .buy {
    @include btn;
  }
  @media (min-width: $lg_breakpoint) {
    left: 50%;
    min-height: 100px;
  }
}
