@use '../partials/variables' as *;

.product_page {
  height: calc(100svh - $header_height);
  padding: 0;
  .product_tile {
    &:hover {
      box-shadow: none;
    }
  }
  .tile {
    background-color: $bg_color;

    .action {
      display: none;
    }
    .image {
      flex: 1 1 40%;
      min-height: 100px;

      max-height: none;
      img {
        height: 100%;
        align-self: center;
      }
    }
    .description {
      flex: 1 1 60%;
      background-color: $header_color;
      height: 100%;
      padding: 20px 28px 70px ;
      align-items: flex-start;
      letter-spacing: 0.08px;
      justify-content: flex-start;


      .title {
        font-size: 24px;
        font-weight: 600;
      }
      .details {
        text-align: justify;
        order: 1;
        font-size: 14px;
        line-height: 140%;
      }
      .price_container {
        order: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .new_price {
          font-size: 24px;
          & ~ .old_price {
            text-decoration: line-through;
            font-size: 20px;
            
          }
        }
        .old_price {
          font-size: 25px;
          font-style: normal;
        }
      }
    }
    @media (min-width: $lg_breakpoint) {
      flex-direction: row;
      .image {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        img {
          height: auto;
          width: 80%;
          max-width: 400px;
        }
      }
      .description {
        flex: 1 1 50%;
        justify-content: flex-start;
        padding-bottom: 50px;
        gap: 50px;
        .price_container {
          justify-content: space-between;
        
        }
      }
    }
  }
}
.add_to_cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc($footer_height);
  display: flex;
  justify-content: space-between;
  padding: 0 28px 20px;
  align-items: center;
  background-color: $header_color;
  .buy {
    text-transform: uppercase;
    @include btn;
  }
  @media (min-width: $lg_breakpoint) {
    left: 50%;
    bottom: 0;
  }
}
