@use '../partials/variables' as *;

.product_page {
  height: 100%;

  .product_tile {
    height: 100%;
  }
  .tile {
    height: 100%;
    background-color: $bg_color;

    .action {
      display: none;
    }
    .image {
      margin: 0 auto;
      flex: 1 1 40%;
      min-height: 100px;
      // display: flex;
      picture {
        // display: flex;
      }
      img {
        height: 100%;
        align-self: center;
      }
    }
    .description {
      flex: 1 1 60%;
      background-color: $header_color;
      height: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */

      .title {
        margin: 20px 0 0 0;
        color: #000;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 51px */
      }
      .details {
        text-align: justify;
        order: 1;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        // line-height: 150%; /* 27px */
        max-height: 108px;
        overflow-y: scroll;
      }
      .price_container {
        // display: none;
        order: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .new_price {
          color: #db1313;
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          // line-height: 150%; /* 51px */
          & ~ .old_price {
            text-decoration: line-through;
          }
        }
        .old_price {
          // color: #000;
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          // line-height: 150%; /* 37.5px */
          // text-decoration-line: strikethrough;
        }
      }
    }
    @media (min-width: $lg_breakpoint) {
      flex-direction: row;
      .image {
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        // align-items: center;
        img {
          height: auto;
          width: 80%;
          max-width: 400px;
        }
      }
      .description {
        flex: 1 1 50%;
        justify-content: space-evenly;
        padding-bottom: $header_height;
        .price_container {
          justify-content: space-between;
        }
      }
    }
  }
}
.add_to_cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $header_height;
  //   width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: $header_color;
  min-height: 50px;
  .buy {
    @include btn;
  }
  @media (min-width: $lg_breakpoint) {
    left: 50%;
    min-height: 70px;
  }
}
