@font-face {
  font-family: "mainFont";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Regular.otf");
}
html, #app, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0c9ba;
  font-family: "mainFont";
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

.cls_content {
  position: relative;
  object-fit: cover;
}

.cls_content > .cls_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 53px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 35px -8px rgb(66, 68, 90);
  -moz-box-shadow: 0px 4px 35px -8px rgb(66, 68, 90);
  box-shadow: 0px 4px 35px -8px rgb(66, 68, 90);
}
.header h1 {
  font-size: 20px;
}
.header nav {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 90px;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  background-color: #e8e4e6;
  z-index: 9;
  transition: max-width 0.3s ease;
}
.header nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 7vw;
  margin-top: 15vw;
  flex-direction: column;
  padding: 0;
}
.header nav.open {
  max-width: 293px;
}
.header nav.open + .menu_icon span:nth-child(1) {
  animation: ease 0.7s top forwards;
}
.header nav.open + .menu_icon span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}
.header nav.open + .menu_icon span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}
.header .menu_icon {
  position: relative;
  width: 35px;
  height: 20px;
}
@media (min-width: 1000px) {
  .header .menu_icon {
    display: none;
  }
}
.header .menu_icon span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 8.5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8.5px;
  height: 3px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}
.header .menu_icon span:nth-child(1) {
  animation: ease 0.3s top-2 forwards;
}
.header .menu_icon span:nth-child(2) {
  animation: ease 0.3s scaled-2 forwards;
  margin: 5.5px 0 5.5px 0;
}
.header .menu_icon span:nth-child(3) {
  animation: ease 0.3s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8.5px;
    transform: rotate(0);
  }
  100% {
    top: 8.5px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 8.5px;
    transform: rotate(45deg);
  }
  50% {
    top: 8.5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.cls_content.welcome {
  padding-bottom: 153.8666666667vw;
}
@media (min-width: 1000px) {
  .cls_content.welcome {
    padding-bottom: 45.390625vw;
  }
}
.cls_content.welcome .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***************************************************
 * Generated by SVG Artista on 6/10/2023, 10:19:55 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.3s both;
  animation: animate-svg-fill-1 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.3s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.4s both;
  animation: animate-svg-fill-2 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 234, 207);
  }
}
@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 234, 207);
  }
}
.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
  animation: animate-svg-fill-3 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.6s both;
  animation: animate-svg-fill-4 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.6s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.7s both;
  animation: animate-svg-fill-5 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.7s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.8s both;
  animation: animate-svg-fill-6 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(202, 143, 122);
  }
}
@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(202, 143, 122);
  }
}
.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.9s both;
  animation: animate-svg-fill-7 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.9s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
  animation: animate-svg-fill-8 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(191, 108, 13);
  }
}
@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(191, 108, 13);
  }
}
.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.1s both;
  animation: animate-svg-fill-9 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.1s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(191, 108, 13);
  }
}
@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(191, 108, 13);
  }
}
.svg-elem-10 {
  -webkit-animation: animate-svg-fill-10 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.2s both;
  animation: animate-svg-fill-10 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.2s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(252, 249, 222);
  }
}
@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(252, 249, 222);
  }
}
.svg-elem-11 {
  -webkit-animation: animate-svg-fill-11 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.3s both;
  animation: animate-svg-fill-11 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.3s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(252, 249, 222);
  }
}
@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(252, 249, 222);
  }
}
.svg-elem-12 {
  -webkit-animation: animate-svg-fill-12 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.4s both;
  animation: animate-svg-fill-12 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.4s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
.svg-elem-13 {
  -webkit-animation: animate-svg-fill-13 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
  animation: animate-svg-fill-13 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(255, 213, 154);
  }
}
.svg-elem-14 {
  -webkit-animation: animate-svg-fill-14 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.6s both;
  animation: animate-svg-fill-14 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
.svg-elem-15 {
  -webkit-animation: animate-svg-fill-15 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.7s both;
  animation: animate-svg-fill-15 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.7s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
.svg-elem-16 {
  -webkit-animation: animate-svg-fill-16 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.8s both;
  animation: animate-svg-fill-16 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.8s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(202, 143, 122);
  }
}
@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(202, 143, 122);
  }
}
.svg-elem-17 {
  -webkit-animation: animate-svg-fill-17 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.9s both;
  animation: animate-svg-fill-17 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1.9s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(200, 106, 88);
  }
}
.svg-elem-18 {
  -webkit-animation: animate-svg-fill-18 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
  animation: animate-svg-fill-18 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(196, 111, 77);
  }
}
@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(196, 111, 77);
  }
}
.svg-elem-19 {
  -webkit-animation: animate-svg-fill-19 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2.1s both;
  animation: animate-svg-fill-19 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2.1s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(198, 78, 47);
  }
}
.svg-elem-20 {
  -webkit-animation: animate-svg-fill-20 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2.2s both;
  animation: animate-svg-fill-20 0.4s cubic-bezier(0.19, 1, 0.22, 1) 2.2s both;
}

/*# sourceMappingURL=style.css.map */
