@font-face {
  font-family: "header";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/raleway/Raleway-Regular.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Regular.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text--light";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Light.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text--bold";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Bold.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "header";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/raleway/Raleway-Regular.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Regular.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text--light";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Light.ttf") format("TrueType");
  font-display: swap;
}
@font-face {
  font-family: "text--bold";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/roboto/Roboto-Bold.ttf") format("TrueType");
  font-display: swap;
}
html {
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3d3c4;
  font-family: "text", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100svh;
}

.relative_element {
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
}

section {
  height: -webkit-fill-available;
  padding: 20px 15px 40px;
}

.product_page .action {
  display: none;
}

section.empty {
  height: calc(100vh - 82px);
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back {
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #262626;
  padding: 10px 20px;
  font-size: 14px;
  max-height: 30px;
  height: 100%;
  line-height: 14px;
  font-family: "text", sans-serif;
}

a {
  text-decoration: none;
  color: #262626;
}

.single_order .details {
  display: none;
}

p,
span,
div {
  font-family: "text--light", sans-serif;
  font-weight: normal;
  color: #262626;
}

h1 {
  font-family: "header";
  font-weight: normal;
  color: #262626;
}

.header {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0 28px;
  background-color: white;
  gap: 10px;
}
.header .cup img {
  vertical-align: bottom;
}
.header h1 {
  font-size: 20px;
  font-weight: 800;
}
.header h1:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  background: #FFF;
  box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
}
footer nav {
  height: 100%;
}
footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
footer nav ul li {
  flex: 1 1 25%;
  position: relative;
}
footer nav ul li label {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
footer nav ul a {
  height: 40px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  padding: 6px 4px 4px;
}
footer nav ul a.router-link-active {
  border-top: 2px solid #965858;
}

@media (min-width: 1200px) {
  footer {
    bottom: auto;
    height: 42px;
    top: 0;
    box-shadow: none;
    width: 600px;
    left: unset;
    transition: width 0.1s ease-in-out;
  }
  footer.scroll {
    width: 100%;
  }
  footer.scroll nav {
    max-width: 600px;
  }
  footer nav {
    margin: auto;
  }
  footer nav ul li .fa-lg {
    display: none;
  }
  footer nav ul li label {
    font-size: 16px;
  }
  footer nav ul li label:hover {
    cursor: pointer;
  }
  footer nav ul a.router-link-active {
    border-bottom: 2px solid #965858;
    border-top: 0;
  }
}
.product_tile {
  background-color: white;
  height: 100%;
  border-radius: 4px;
  width: 100%;
}
.product_tile .tile {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.product_tile .tile .action {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0 10px;
}
.product_tile .tile .image {
  margin: 0 auto;
  max-height: 150px;
}
.product_tile .tile .image img {
  height: 100%;
}
.product_tile .tile .description {
  padding: 19px 10px 15px;
  background-color: #ccbcac;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.product_tile .tile .description .title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .product_tile .tile .description .title {
    font-size: 16px;
  }
}
.product_tile .tile .description .price_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product_tile .tile .description .price_container h4.new_price, .product_tile .tile .description .price_container h5.old_price {
  font-size: 16px;
}
.product_tile .tile .description .price_container .new_price {
  color: #f7505a;
  text-align: center;
  font-family: "text--bold", sans-serif;
}
.product_tile .tile .description .price_container .new_price ~ .old_price {
  text-decoration: line-through;
}
.product_tile .tile .description .price_container .old_price {
  text-align: center;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 800px) {
  .product_tile:hover {
    background: #FFF;
    box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .product_tile .tile .image {
    max-height: none;
  }
  .product_tile .tile .description {
    justify-content: flex-start;
  }
}

.wrapper.transactions {
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper.transactions h1 {
  grid-column: span 1;
  font-family: "text--bold", sans-serif;
}
@media (min-width: 600px) {
  .wrapper.transactions {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper.transactions h1 {
    grid-column: span 3;
  }
}

.single_transaction {
  background: #ccbcac;
  margin: 10px 0;
  padding: 9px 12px;
  border-radius: 4px;
  max-height: 40px;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
}
.single_transaction .accordion_header {
  display: flex;
  gap: 20px;
}
.single_transaction .accordion_header h2 {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.single_transaction.open_qr {
  max-height: 2000px;
}
.single_transaction.open_qr figure.qrcode {
  text-align: center;
  margin: 20px auto;
  max-width: 60vw;
}
.single_transaction.open_qr figure.qrcode canvas {
  width: 52vw !important;
  height: 100% !important;
}
@media (min-width: 800px) {
  .single_transaction.open_qr figure.qrcode {
    max-width: 30vw;
  }
  .single_transaction.open_qr figure.qrcode canvas {
    width: 22vw !important;
    height: 100% !important;
  }
}
.single_transaction.open_qr p {
  display: none;
}

.welcome {
  height: calc(100svh - 42px);
}
.welcome .wrapper {
  height: calc(100svh - 42px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px svg;
  padding-bottom-height: 40vh;
}
.welcome .clickToStart {
  color: #262626;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

/***************************************************
 * Generated by SVG Artista on 6/10/2023, 10:19:55 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
/***************************************************
 * Generated by SVG Artista on 11/23/2023, 6:13:44 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 908.9584960938px;
    stroke-dasharray: 908.9584960938px;
  }
  100% {
    stroke-dashoffset: 1817.9169921875px;
    stroke-dasharray: 908.9584960938px;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 908.9584960938px;
    stroke-dasharray: 908.9584960938px;
  }
  100% {
    stroke-dashoffset: 1817.9169921875px;
    stroke-dasharray: 908.9584960938px;
  }
}
@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 0.5s cubic-bezier(1, 0, 0, 1) 0s both, animate-svg-fill-1 0.9s ease-out 0.2s both;
  animation: animate-svg-stroke-1 0.5s cubic-bezier(1, 0, 0, 1) 0s both, animate-svg-fill-1 0.9s ease-out 0.2s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2096.5739746094px;
    stroke-dasharray: 2096.5739746094px;
  }
  100% {
    stroke-dashoffset: 4193.1479492188px;
    stroke-dasharray: 2096.5739746094px;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2096.5739746094px;
    stroke-dasharray: 2096.5739746094px;
  }
  100% {
    stroke-dashoffset: 4193.1479492188px;
    stroke-dasharray: 2096.5739746094px;
  }
}
@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(244, 244, 244);
  }
}
@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(244, 244, 244);
  }
}
.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 0.5s cubic-bezier(1, 0, 0, 1) 0.1s both, animate-svg-fill-2 0.9s ease-out 0.27s both;
  animation: animate-svg-stroke-2 0.5s cubic-bezier(1, 0, 0, 1) 0.1s both, animate-svg-fill-2 0.9s ease-out 0.27s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 1096.3359375px;
    stroke-dasharray: 1096.3359375px;
  }
  100% {
    stroke-dashoffset: 2192.671875px;
    stroke-dasharray: 1096.3359375px;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 1096.3359375px;
    stroke-dasharray: 1096.3359375px;
  }
  100% {
    stroke-dashoffset: 2192.671875px;
    stroke-dasharray: 1096.3359375px;
  }
}
@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 0.5s cubic-bezier(1, 0, 0, 1) 0.2s both, animate-svg-fill-3 0.9s ease-out 0.34s both;
  animation: animate-svg-stroke-3 0.5s cubic-bezier(1, 0, 0, 1) 0.2s both, animate-svg-fill-3 0.9s ease-out 0.34s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 1871.2263183594px;
    stroke-dasharray: 1871.2263183594px;
  }
  100% {
    stroke-dashoffset: 3742.4526367188px;
    stroke-dasharray: 1871.2263183594px;
  }
}
@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 1871.2263183594px;
    stroke-dasharray: 1871.2263183594px;
  }
  100% {
    stroke-dashoffset: 3742.4526367188px;
    stroke-dasharray: 1871.2263183594px;
  }
}
@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(193, 181, 159);
  }
}
@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(193, 181, 159);
  }
}
.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 0.5s cubic-bezier(1, 0, 0, 1) 0.3s both, animate-svg-fill-4 0.9s ease-out 0.41s both;
  animation: animate-svg-stroke-4 0.5s cubic-bezier(1, 0, 0, 1) 0.3s both, animate-svg-fill-4 0.9s ease-out 0.41s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1417.0355224609px;
    stroke-dasharray: 1417.0355224609px;
  }
  100% {
    stroke-dashoffset: 2834.0710449219px;
    stroke-dasharray: 1417.0355224609px;
  }
}
@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1417.0355224609px;
    stroke-dasharray: 1417.0355224609px;
  }
  100% {
    stroke-dashoffset: 2834.0710449219px;
    stroke-dasharray: 1417.0355224609px;
  }
}
@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(77, 73, 62);
  }
}
@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(77, 73, 62);
  }
}
.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 0.5s cubic-bezier(1, 0, 0, 1) 0.4s both, animate-svg-fill-5 0.9s ease-out 0.48s both;
  animation: animate-svg-stroke-5 0.5s cubic-bezier(1, 0, 0, 1) 0.4s both, animate-svg-fill-5 0.9s ease-out 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 4219.8046875px;
    stroke-dasharray: 4219.8046875px;
  }
  100% {
    stroke-dashoffset: 8439.609375px;
    stroke-dasharray: 4219.8046875px;
  }
}
@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 4219.8046875px;
    stroke-dasharray: 4219.8046875px;
  }
  100% {
    stroke-dashoffset: 8439.609375px;
    stroke-dasharray: 4219.8046875px;
  }
}
@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 0.5s cubic-bezier(1, 0, 0, 1) 0.5s both, animate-svg-fill-6 0.9s ease-out 0.55s both;
  animation: animate-svg-stroke-6 0.5s cubic-bezier(1, 0, 0, 1) 0.5s both, animate-svg-fill-6 0.9s ease-out 0.55s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2465.1164550781px;
    stroke-dasharray: 2465.1164550781px;
  }
  100% {
    stroke-dashoffset: 4930.2329101563px;
    stroke-dasharray: 2465.1164550781px;
  }
}
@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2465.1164550781px;
    stroke-dasharray: 2465.1164550781px;
  }
  100% {
    stroke-dashoffset: 4930.2329101563px;
    stroke-dasharray: 2465.1164550781px;
  }
}
@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(38, 38, 38);
  }
}
.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 0.5s cubic-bezier(1, 0, 0, 1) 0.6s both, animate-svg-fill-7 0.9s ease-out 0.62s both;
  animation: animate-svg-stroke-7 0.5s cubic-bezier(1, 0, 0, 1) 0.6s both, animate-svg-fill-7 0.9s ease-out 0.62s both;
}

.product_page {
  height: calc(100svh - 42px);
  padding: 0;
}
.product_page .product_tile:hover {
  box-shadow: none;
}
.product_page .tile {
  background-color: #e3d3c4;
}
.product_page .tile .action {
  display: none;
}
.product_page .tile .image {
  flex: 1 1 40%;
  min-height: 100px;
  max-height: none;
}
.product_page .tile .image img {
  height: 100%;
  align-self: center;
}
.product_page .tile .description {
  flex: 1 1 60%;
  background-color: white;
  height: 100%;
  padding: 20px 28px 70px;
  align-items: flex-start;
  letter-spacing: 0.08px;
  justify-content: flex-start;
}
.product_page .tile .description .title {
  font-size: 24px;
  font-weight: 600;
}
.product_page .tile .description .details {
  text-align: justify;
  order: 1;
  font-size: 14px;
  line-height: 140%;
}
.product_page .tile .description .price_container {
  order: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.product_page .tile .description .price_container .new_price {
  font-size: 24px;
}
.product_page .tile .description .price_container .new_price ~ .old_price {
  text-decoration: line-through;
  font-size: 20px;
}
.product_page .tile .description .price_container .old_price {
  font-size: 25px;
  font-style: normal;
}
@media (min-width: 800px) {
  .product_page .tile {
    flex-direction: row;
  }
  .product_page .tile .image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }
  .product_page .tile .image img {
    height: auto;
    width: 80%;
    max-width: 400px;
  }
  .product_page .tile .description {
    flex: 1 1 50%;
    justify-content: flex-start;
    padding-bottom: 50px;
    gap: 50px;
  }
  .product_page .tile .description .price_container {
    justify-content: space-between;
  }
}

.add_to_cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 28px 20px;
  align-items: center;
  background-color: white;
}
.add_to_cart .buy {
  text-transform: uppercase;
  appearance: none;
  border: none;
  background-color: #4f483e;
  padding: 10px 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  max-height: 30px;
  height: 100%;
}
@media (min-width: 600px) {
  .add_to_cart .buy {
    font-size: 20px;
    max-height: none;
    width: 40%;
  }
}
@media (min-width: 800px) {
  .add_to_cart {
    left: 50%;
    bottom: 0;
  }
}

.listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
  justify-items: stretch;
  align-content: space-around;
  align-items: stretch;
}
.listing > h1 {
  grid-column: span 2;
  font-weight: 600;
}
@media (max-width: 350px) {
  .listing {
    grid-template-columns: 1fr;
  }
  .listing h1 {
    grid-column: span 1;
  }
}
@media (min-width: 600px) {
  .listing {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .listing h1 {
    grid-column: span 3;
  }
}
@media (min-width: 800px) {
  .listing {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .listing h1 {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .listing {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .listing h1 {
    grid-column: span 6;
  }
}

.cart_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.cart_page .orders {
  overflow: auto;
}
@media (min-width: 600px) {
  .cart_page .orders {
    height: 100%;
    width: 50%;
  }
  .cart_page .orders .tile {
    justify-content: center;
  }
  .cart_page .orders .tile .description {
    width: 25vw;
    max-width: 400px;
  }
}
.cart_page .orders .single_order {
  border-radius: 4px;
  background: #ccbcac;
  margin: 10px 0;
  padding: 9px 12px;
  max-height: 115px;
}
.cart_page .orders .single_order:first-of-type {
  margin-top: 12px;
}
.cart_page .orders .single_order .tile {
  display: flex;
  height: 97px;
  gap: 7.8239608802vw;
  justify-content: space-between;
}
.cart_page .orders .single_order .tile .image {
  flex: 1 1 30%;
  text-align: center;
}
.cart_page .orders .single_order .tile .image picture {
  margin: 0 auto;
}
.cart_page .orders .single_order .tile .description {
  flex: 1 1 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cart_page .orders .single_order .tile .description .title {
  flex-basis: 100%;
  color: #262626;
  font-size: 20px;
  font-family: "text", sans-serif;
}
.cart_page .orders .single_order .tile .description .action_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 350px) {
  .cart_page .orders .single_order .tile .description .action_container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.cart_page .orders .single_order .tile .description .action_container .price_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart_page .orders .single_order .tile .description .action_container .price_container .price {
  color: #262626;
  font-family: "text--light", sans-serif;
  font-size: 14px;
}
.cart_page .orders .single_order .tile .description .action_container .counter {
  display: flex;
  justify-content: end;
}
.cart_page .orders .single_order .tile .description .action_container .counter input {
  appearance: none;
  border: none;
  background-color: #4f483e;
  color: white;
  border-radius: 0;
  height: 30px;
  font-family: "text", sans-serif;
  font-weight: 800;
  font-size: 20px;
  width: 40px;
}
.cart_page .orders .single_order .tile .description .action_container .counter input[type=button]:first-child {
  border-radius: 4px 0 0 4px;
}
.cart_page .orders .single_order .tile .description .action_container .counter input[type=button]:last-child {
  border-radius: 0 4px 4px 0;
}
.cart_page .orders .single_order .tile .description .action_container .counter input[type=number] {
  text-align: center;
}
.cart_page .orders .single_order .tile .description .action_container .counter input[type=number]:disabled {
  background-color: #4f483e;
  color: white;
}
.cart_page .summary {
  position: fixed;
  height: 286px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 20px 10px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart_page .summary .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
.cart_page .summary h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-family: "header", sans-serif;
}
.cart_page .summary .total *, .cart_page .summary .discount * {
  font-family: "text--light", sans-serif;
  font-size: 16px;
}
.cart_page .summary .sum {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-top: 15px;
}
.cart_page .summary .sum button.checkout {
  appearance: none;
  border: none;
  background-color: #4f483e;
  padding: 10px 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  max-height: 30px;
  height: 100%;
  width: 60%;
  font-family: "text--bold", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  max-height: none;
}
@media (min-width: 600px) {
  .cart_page .summary .sum button.checkout {
    font-size: 20px;
    max-height: none;
    width: 40%;
  }
}
.cart_page .summary .sum .back {
  min-width: 100px;
  text-align: center;
}
@media (min-width: 600px) {
  .cart_page {
    flex-direction: row;
    flex: 1 1 50%;
  }
  .cart_page .summary {
    padding-top: 62px;
    left: 50%;
    top: 0;
    height: 100%;
    justify-content: flex-start;
    gap: 25px;
  }
  .cart_page .summary h2 {
    align-self: flex-start;
    margin: 0;
    font-size: 34px;
  }
  .cart_page .summary .discount * {
    font-size: 18px;
  }
  .cart_page .summary .total * {
    font-size: 20px;
  }
  .cart_page .summary .sum {
    margin-top: auto;
    margin-bottom: 0;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
